@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Mooli&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: white;
}

.maintainance {
  background-color: rgba(30, 40, 50, 0.8);
  height: 100%;
  padding-left: 10%;
  position: relative;
  height: 100vh;
}

.maintainance h1 {
  margin: 0;
  line-height: 1;
  font-size: 5em;
  letter-spacing: -1px;
  padding-top: 30vh;
}

.maintainance p {
  color: #DDD;
}

.maintainance hr {
  height: 6px;
  background-color: white;
  width: 3em;
  margin-left: 0;
}

.maintainance .powered {
  position: absolute;
  bottom: 1em;
  color: #BBB;
  font-size: 0.8em;
  text-align: center;
  width: 90%;
}

.maintainance a {
  color: #CCC;
  text-decoration: none;
  transition: color 0.1s ease-in;
}
.maintainance a:hover {
  color: white;
}
